<% layout('../layout.eta.html', {
    title: 'Battleship',
    additionalJs: [
        {
            url: 'https://cdn.jsdelivr.net/npm/plain-draggable@2.5.12/plain-draggable.min.js',
            hash: 'sha384-9wTUojzuBH6fD8U401121o6f4M98qWnjRCXYb3BteVuf462XIkdFvoXYie2bPauC',
        }
    ]
}) %>

<div class="container" id="field">
    <div class="card">
        <div id="playerBoard" class="board">
            <span class="gridline horizontal g1"></span>
            <span class="gridline horizontal g2"></span>
            <span class="gridline horizontal g3"></span>
            <span class="gridline horizontal g4"></span>
            <span class="gridline horizontal g5"></span>
            <span class="gridline horizontal g6"></span>
            <span class="gridline horizontal g7"></span>
            <span class="gridline horizontal g8"></span>
            <span class="gridline horizontal g9"></span>

            <span class="gridline vertical g1"></span>
            <span class="gridline vertical g2"></span>
            <span class="gridline vertical g3"></span>
            <span class="gridline vertical g4"></span>
            <span class="gridline vertical g5"></span>
            <span class="gridline vertical g6"></span>
            <span class="gridline vertical g7"></span>
            <span class="gridline vertical g8"></span>
            <span class="gridline vertical g9"></span>
        </div>
    </div>
    <div class="card">
        <div id="opponentBoard" class="board">
            <span class="gridline horizontal g1"></span>
            <span class="gridline horizontal g2"></span>
            <span class="gridline horizontal g3"></span>
            <span class="gridline horizontal g4"></span>
            <span class="gridline horizontal g5"></span>
            <span class="gridline horizontal g6"></span>
            <span class="gridline horizontal g7"></span>
            <span class="gridline horizontal g8"></span>
            <span class="gridline horizontal g9"></span>

            <span class="gridline vertical g1"></span>
            <span class="gridline vertical g2"></span>
            <span class="gridline vertical g3"></span>
            <span class="gridline vertical g4"></span>
            <span class="gridline vertical g5"></span>
            <span class="gridline vertical g6"></span>
            <span class="gridline vertical g7"></span>
            <span class="gridline vertical g8"></span>
            <span class="gridline vertical g9"></span>

            <div id="opponentOverlay"><div></div></div>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="button" id="reset">Reset</button>
    <a class="button" href="https://github.com/0lsen/tsgames" target="_blank" id="github"></a>
</div>