<!DOCTYPE html>
<html lang="en">
<head>
    <title>TS Games</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        #field .card {width: 100%;}
    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="navbar-brand">
            TS GAMES
        </div>
    </div>
</header>
<div class="container" id="field">
    <h1 class="title">REAL GAMES</h1>
    <div class="card">
        <div class="list">
            <% it.games.forEach(function(module) { %>
                <a class="list-item" href="<%= module.id %>/"><%= module.name %></a>
            <% }); %>
        </div>
    </div>
    <h1 class="title">OTHER STUFF</h1>
    <div class="card">
        <div class="list">
            <% it.nongames.forEach(function(module) { %>
                <a class="list-item" href="<%= module.id %>/"><%= module.name %></a>
            <% }); %>
        </div>
    </div>
</div>
<div class="container">
    <a class="button" href="https://github.com/0lsen/tsgames" target="_blank" id="github"></a>
</div>
</body>
</html>