<!DOCTYPE html>
<html lang="en">
<head>
    <title>TS Games</title>
    <link rel="stylesheet" href="/static/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
        #field .card {width: 100%;}
    </style>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="navbar-brand">
            TS GAMES
        </div>
    </div>
</header>
<div class="container" id="field">
    <h1 class="title">REAL GAMES</h1>
    <div class="card">
        <div class="list">
            <a class="list-item" href="bs/">Battleship</a>
            <a class="list-item" href="mw/">Minesweeper</a>
            <a class="list-item" href="peso/">Peg Solitaire</a>
            <a class="list-item" href="snake/">Snake</a>
            <a class="list-item" href="ttt/">Tic Tac Toe</a>
            <a class="list-item" href="ttt3d/">Tic Tac Toe 3D</a>
            <a class="list-item" href="xmas/">X-Mas Special</a>
        </div>
    </div>
    <h1 class="title">OTHER STUFF</h1>
    <div class="card">
        <div class="list">
            <a class="list-item" href="cadi/">Canvas Dickery</a>
            <a class="list-item" href="ciso/">Circle Sort</a>
            <a class="list-item" href="cotra/">Complex Number 2D Transformation</a>
            <a class="list-item" href="gol/">Conway's Game of Life</a>
            <a class="list-item" href="liro/">Lightroom</a>
            <a class="list-item" href="sabo/">Sandbox</a>
        </div>
    </div>
</div>
<div class="container">
    <a class="button" href="https://github.com/0lsen/tsgames" target="_blank" id="github"></a>
</div>
</body>
</html>