<% layout('../layout.eta.html', {
    title: 'Tic Tac Toe',
}) %>

<div class="container" id="field">
    <div class="card">
        <div id="board">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="info">

        </div>
        <div id="option">
            <label for="invincible"><input type="checkbox" id="invincible" checked> invincible opponent</label>
        </div>
    </div>
</div>