<% layout('../layout.eta.html', {
    title: 'Circle Sort',
}) %>

<div class="container" id="field">
    <div class="card">
        <div id="board">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div>
<div class="container">
    <input class="input" id="numberOfValues" type="number" min="1" max="999" step="1" value="50">
    <button type="button" class="button" id="reset">Random Elements</button>
    <a class="button" href="https://github.com/0lsen/tsgames" target="_blank" id="github"></a>
</div>
<div class="container">
    <button type="button" class="button" onclick="app.sort(0)">Insertion Sort</button>
    <button type="button" class="button" onclick="app.sort(1)">Selection Sort</button>
    <button type="button" class="button" onclick="app.sort(2)">Merge Sort</button>
    <button type="button" class="button" onclick="app.sort(3)">Heap Sort</button>
    <button type="button" class="button" onclick="app.sort(4)">Quick Sort</button>
    <button type="button" class="button" onclick="app.sort(5)">Bubble Sort</button>
    <button type="button" class="button" onclick="app.sort(6)">Schedule Sort</button>
</div>